.white {
  background-color: white;
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.black {
  background-color: 	#808080;
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.redDot {
  height: 50px;
  width: 50px;
  background-color: red;
  border-radius: 50%;
  position:relative;
  right:-22px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.blueDot {
  height: 50px;
  width: 50px;
  background-color: blue;
  border-radius: 50%;
  position:relative;
  right:-22px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}