.white {
  background-color: white;
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.black {
  background-color: black;
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.redDot {
  height: 50px;
  width: 50px;
  background-color: red;
  border-radius: 50%;
  position:relative; 
  right:-22px;
}
.blueDot {
  height: 50px;
  width: 50px;
  background-color: blue;
  border-radius: 50%;
  position:relative; 
  right:-22px;

}